//.$primary-color: white;
// $bg: black;
// h1 {
//   color: $primary-color;
//   background-color: $bg;
// }
*{
  // background-color: #EFF3ED;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cmtran09head {
  font-size: 15px;
  background: -webkit-linear-gradient(163deg, rgba(227,114,34,1) 0%, rgba(7,136,147,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 5px 0 100px 0
}

.main-app {
  margin-left: 30px;
  margin-right: 30px;
} 

.ui.button{
  margin-left: 0px;
}

.ui.teal.large.fluid.button.join {
  margin-top: 15px;
}

.circle-picker {
  margin-left: 5px;
}

.colour-banner {
  position: absolute; 
  top: 30px; 
  right: 0px; 
  bottom: 0px; 
  left: 0px; 
  height: 50%;
  background-color: white; 
  transition: background-color 100ms linear 0s; 
  opacity: 0.5;
}

.ui.stacked.segment {
  min-width: 400px;
}

.ui.segment.left {
  width: 60px;
}

.ui.justified.container.contents {
  // width: 100px;
}

// .ui.green.button {
//   width: 100px;
//   float: right;
// }